In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("imdb-movies-dataset.csv")

In [3]:
df.head()

,Poster,Title,Year,Certificate,Duration (min),Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review
0,https://m.media-amazon.com/images/M/MV5BYWRkZj...,The Idea of You,2023.0,R,115.0,"Comedy, Drama, Romance",6.4,67.0,Michael Showalter,"Anne Hathaway, Nicholas Galitzine, Ella Rubin,...","28,744","Solène, a 40-year-old single mom, begins an un...",166,Hypocrisy as an idea,"This film, as well as the reaction to it, is a..."
1,https://m.media-amazon.com/images/M/MV5BZGI4NT...,Kingdom of the Planet of the Apes,2023.0,PG-13,145.0,"Action, Adventure, Sci-Fi",7.3,66.0,Wes Ball,"Owen Teague, Freya Allan, Kevin Durand, Peter ...","22,248","Many years after the reign of Caesar, a young ...",183,A phenomenal start to another trilogy!,"I'm a big fan of all the planet of the apes, a..."
2,https://m.media-amazon.com/images/M/MV5BZjIyOT...,Unfrosted,2023.0,PG-13,97.0,"Biography, Comedy, History",5.5,42.0,Jerry Seinfeld,"Isaac Bae, Jerry Seinfeld, Chris Rickett, Rach...","18,401","In 1963 Michigan, business rivals Kellogg's an...",333,not funny,Pretty much the worst criticism you can lay on...
3,https://m.media-amazon.com/images/M/MV5BMjA5Zj...,The Fall Guy,2023.0,PG-13,126.0,"Action, Comedy, Drama",7.3,73.0,David Leitch,"Ryan Gosling, Emily Blunt, Aaron Taylor-Johnso...","38,953",A down-and-out stuntman must find the missing ...,384,Everything you needed and more!,Just got out of the Austin premier at SXSW and...
4,https://m.media-amazon.com/images/M/MV5BNTk1MT...,Challengers,2023.0,R,131.0,"Drama, Romance, Sport",7.7,82.0,Luca Guadagnino,"Zendaya, Mike Faist, Josh O'Connor, Darnell Ap...","32,517","Tashi, a former tennis prodigy turned coach, t...",194,"Watch ""Match Point"" instead",This is a tough one. I liked the concept and t...

In [4]:
df.describe()

              Year  Duration (min)       Rating    Metascore
count  9850.000000     9664.000000  9596.000000  7555.000000
mean   2005.761421      108.809603     6.438610    58.068299
std      18.958005       23.159749     1.051412    17.845240
min    1929.000000       45.000000     1.300000     1.000000
25%    1997.000000       95.000000     5.800000    45.500000
50%    2012.000000      105.000000     6.500000    58.000000
75%    2021.000000      118.000000     7.200000    71.000000
max    2025.000000      746.000000     9.700000   100.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Poster          10000 non-null  object
 1   Title           10000 non-null  object
 2   Year            9850 non-null   float64
 3   Certificate     7370 non-null   object
 4   Duration (min)  9664 non-null   float64
 5   Genre           9993 non-null   object
 6   Rating          9596 non-null   float64
 7   Metascore       7555 non-null   float64
 8   Director        9995 non-null   object
 9   Cast            9961 non-null   object
 10  Votes           9596 non-null   object
 11  Description     10000 non-null  object
 12  Review Count    9999 non-null   object
 13  Review Title    9483 non-null   object
 14  Review          9484 non-null   object
dtypes: float64(4), object(11)
memory usage: 1.1+ MB

In [6]:
#Cleaning the data
df.drop('Duration (min)', axis=1, inplace=True)

In [7]:
df.drop('Certificate', axis=1, inplace= True)

In [8]:
df.isnull().sum()

Poster             0
Title              0
Year             150
Genre              7
Rating           404
Metascore       2445
Director           5
Cast              39
Votes            404
Description        0
Review Count       1
Review Title     517
Review           516
dtype: int64

In [9]:
df['Year'].fillna(df['Year'].mode()[0], inplace=True)

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\2918439356.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Year'].fillna(df['Year'].mode()[0], inplace=True)

In [10]:
df['Votes'] = pd.to_numeric(df['Votes'], errors='coerce').fillna(0).astype(int)

In [11]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
df['Votes'].fillna(df['Votes'].median(), inplace=True)

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\2312668991.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Rating'].fillna(df['Rating'].mean(), inplace=True)
C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\2312668991.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Votes'].fillna(df['Votes'].median(), inplace=True)

In [12]:
## Cleaning the data 
df['Genre'].dropna().str.split(', ').explode().value_counts()

Genre
Drama          5304
Comedy         3265
Action         2468
Thriller       1819
Adventure      1786
Crime          1730
Romance        1590
Horror         1514
Mystery        1078
Sci-Fi          792
Fantasy         745
Biography       654
Animation       481
Family          471
History         333
Music           255
Sport           203
War             201
Western         147
Documentary     124
Musical         124
Film-Noir        37
Name: count, dtype: int64

In [13]:
df.isnull().sum()

Poster             0
Title              0
Year               0
Genre              7
Rating             0
Metascore       2445
Director           5
Cast              39
Votes              0
Description        0
Review Count       1
Review Title     517
Review           516
dtype: int64

In [14]:
df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\1861280200.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Metascore'].fillna(df['Metascore'].median(), inplace=True)

In [15]:
df['Review Title'].fillna('No Title', inplace=True)
df['Review'].fillna('No Review', inplace=True)
df['Review Count'].fillna(0, inplace=True)

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\4011818022.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Title'].fillna('No Title', inplace=True)
C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\4011818022.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review'].fillna('No Review', inplace=True)
C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\4011818022.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review Count'].fillna(0, inplace=True)

In [16]:
def infer_genre(description):
    if 'love' in description.lower() or 'romantic' in description.lower():
        return 'Romance'
    elif 'war' in description.lower() or 'battle' in description.lower():
        return 'War'
    elif 'space' in description.lower() or 'alien' in description.lower():
        return 'Sci-Fi'
    elif 'murder' in description.lower() or 'crime' in description.lower():
        return 'Thriller'
    elif 'funny' in description.lower() or 'comedy' in description.lower():
        return 'Comedy'
    else:
        return 'Unknown'

df['Genre'] = df['Genre'].fillna(df['Description'].apply(infer_genre))

In [17]:
df['Director'] = df['Director'].fillna('Unknown Director')
df['Cast'] = df['Cast'].fillna('Unknown Cast')

In [18]:
df.isnull().sum()

Poster          0
Title           0
Year            0
Genre           0
Rating          0
Metascore       0
Director        0
Cast            0
Votes           0
Description     0
Review Count    0
Review Title    0
Review          0
dtype: int64

In [19]:
df.duplicated().sum()

0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Poster        10000 non-null  object
 1   Title         10000 non-null  object
 2   Year          10000 non-null  float64
 3   Genre         10000 non-null  object
 4   Rating        10000 non-null  float64
 5   Metascore     10000 non-null  float64
 6   Director      10000 non-null  object
 7   Cast          10000 non-null  object
 8   Votes         10000 non-null  int32
 9   Description   10000 non-null  object
 10  Review Count  10000 non-null  object
 11  Review Title  10000 non-null  object
 12  Review        10000 non-null  object
dtypes: float64(3), int32(1), object(9)
memory usage: 976.7+ KB

In [21]:
df['Review Count'] = df['Review Count'].str.replace(',', '', regex=True)
df['Review Count']=df['Review Count'].astype(float)

In [22]:
df['Review']= df['Review'].apply(lambda x: x.split())

In [23]:
df['Review Title'][0]

'Hypocrisy as an idea'

In [24]:
df['Review Title']=df['Review Title'].apply(lambda x: x.split())

In [25]:
df['Description'][0]

'Solène, a 40-year-old single mom, begins an unexpected romance with 24-year-old Hayes Campbell, the lead singer of August Moon, the hottest boy band on the planet.'

In [26]:
df['Description']=df['Description'].apply(lambda x: x.split())

In [27]:
df['Genre']=df['Genre'].apply(lambda x: [genre.strip() for genre in x.split(',') if genre.strip() != ''])

In [28]:
df['Cast']=df['Cast'].apply(lambda x: x.split())

In [29]:
df['Director']=df['Director'].apply(lambda x: x.split())

In [30]:
print(df[['Description', 'Genre', 'Cast', 'Director']].head())

                                         Description  \
0  [Solène,, a, 40-year-old, single, mom,, begins...
1  [Many, years, after, the, reign, of, Caesar,, ...
2  [In, 1963, Michigan,, business, rivals, Kellog...
3  [A, down-and-out, stuntman, must, find, the, m...
4  [Tashi,, a, former, tennis, prodigy, turned, c...

                          Genre  \
0      [Comedy, Drama, Romance]
1   [Action, Adventure, Sci-Fi]
2  [Biography, Comedy, History]
3       [Action, Comedy, Drama]
4       [Drama, Romance, Sport]

                                                Cast              Director
0  [Anne, Hathaway,, Nicholas, Galitzine,, Ella, ...  [Michael, Showalter]
1  [Owen, Teague,, Freya, Allan,, Kevin, Durand,,...           [Wes, Ball]
2  [Isaac, Bae,, Jerry, Seinfeld,, Chris, Rickett...     [Jerry, Seinfeld]
3  [Ryan, Gosling,, Emily, Blunt,, Aaron, Taylor-...       [David, Leitch]
4  [Zendaya,, Mike, Faist,, Josh, O'Connor,, Darn...    [Luca, Guadagnino]

In [31]:
# create a new column with all the features.
df['tags']= df['Description']+df['Genre']+df['Cast']+df['Director']

In [32]:
df.head()

,Poster,Title,Year,Genre,Rating,Metascore,Director,Cast,Votes,Description,Review Count,Review Title,Review,tags
0,https://m.media-amazon.com/images/M/MV5BYWRkZj...,The Idea of You,2023.0,"[Comedy, Drama, Romance]",6.4,67.0,"[Michael, Showalter]","[Anne, Hathaway,, Nicholas, Galitzine,, Ella, ...",0,"[Solène,, a, 40-year-old, single, mom,, begins...",166.0,"[Hypocrisy, as, an, idea]","[This, film,, as, well, as, the, reaction, to,...","[Solène,, a, 40-year-old, single, mom,, begins..."
1,https://m.media-amazon.com/images/M/MV5BZGI4NT...,Kingdom of the Planet of the Apes,2023.0,"[Action, Adventure, Sci-Fi]",7.3,66.0,"[Wes, Ball]","[Owen, Teague,, Freya, Allan,, Kevin, Durand,,...",0,"[Many, years, after, the, reign, of, Caesar,, ...",183.0,"[A, phenomenal, start, to, another, trilogy!]","[I'm, a, big, fan, of, all, the, planet, of, t...","[Many, years, after, the, reign, of, Caesar,, ..."
2,https://m.media-amazon.com/images/M/MV5BZjIyOT...,Unfrosted,2023.0,"[Biography, Comedy, History]",5.5,42.0,"[Jerry, Seinfeld]","[Isaac, Bae,, Jerry, Seinfeld,, Chris, Rickett...",0,"[In, 1963, Michigan,, business, rivals, Kellog...",333.0,"[not, funny]","[Pretty, much, the, worst, criticism, you, can...","[In, 1963, Michigan,, business, rivals, Kellog..."
3,https://m.media-amazon.com/images/M/MV5BMjA5Zj...,The Fall Guy,2023.0,"[Action, Comedy, Drama]",7.3,73.0,"[David, Leitch]","[Ryan, Gosling,, Emily, Blunt,, Aaron, Taylor-...",0,"[A, down-and-out, stuntman, must, find, the, m...",384.0,"[Everything, you, needed, and, more!]","[Just, got, out, of, the, Austin, premier, at,...","[A, down-and-out, stuntman, must, find, the, m..."
4,https://m.media-amazon.com/images/M/MV5BNTk1MT...,Challengers,2023.0,"[Drama, Romance, Sport]",7.7,82.0,"[Luca, Guadagnino]","[Zendaya,, Mike, Faist,, Josh, O'Connor,, Darn...",0,"[Tashi,, a, former, tennis, prodigy, turned, c...",194.0,"[Watch, ""Match, Point"", instead]","[This, is, a, tough, one., I, liked, the, conc...","[Tashi,, a, former, tennis, prodigy, turned, c..."

In [33]:
df['Poster'][0]

'https://m.media-amazon.com/images/M/MV5BYWRkZjJiODEtM2IwZi00ZjM1LWEyOTUtOThjMDk3YThjZDUzXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_UY209_CR0,0,140,209_AL_.jpg'

In [34]:
# do the same with review
df['Review_tags']= df['Review']+df['Review Title']

In [35]:
new_df= df[['Title','Rating','Metascore', 'Year','Review_tags','tags','Poster']]

In [36]:
new_df.head()

,Title,Rating,Metascore,Year,Review_tags,tags,Poster
0,The Idea of You,6.4,67.0,2023.0,"[This, film,, as, well, as, the, reaction, to,...","[Solène,, a, 40-year-old, single, mom,, begins...",https://m.media-amazon.com/images/M/MV5BYWRkZj...
1,Kingdom of the Planet of the Apes,7.3,66.0,2023.0,"[I'm, a, big, fan, of, all, the, planet, of, t...","[Many, years, after, the, reign, of, Caesar,, ...",https://m.media-amazon.com/images/M/MV5BZGI4NT...
2,Unfrosted,5.5,42.0,2023.0,"[Pretty, much, the, worst, criticism, you, can...","[In, 1963, Michigan,, business, rivals, Kellog...",https://m.media-amazon.com/images/M/MV5BZjIyOT...
3,The Fall Guy,7.3,73.0,2023.0,"[Just, got, out, of, the, Austin, premier, at,...","[A, down-and-out, stuntman, must, find, the, m...",https://m.media-amazon.com/images/M/MV5BMjA5Zj...
4,Challengers,7.7,82.0,2023.0,"[This, is, a, tough, one., I, liked, the, conc...","[Tashi,, a, former, tennis, prodigy, turned, c...",https://m.media-amazon.com/images/M/MV5BNTk1MT...

In [37]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [38]:
new_df['Review_tags']= new_df['Review_tags'].apply(lambda x:" ".join(x))

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\4120862496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Review_tags']= new_df['Review_tags'].apply(lambda x:" ".join(x))

In [39]:
new_df.head()

,Title,Rating,Metascore,Year,Review_tags,tags,Poster
0,The Idea of You,6.4,67.0,2023.0,"This film, as well as the reaction to it, is a...","Solène, a 40-year-old single mom, begins an un...",https://m.media-amazon.com/images/M/MV5BYWRkZj...
1,Kingdom of the Planet of the Apes,7.3,66.0,2023.0,"I'm a big fan of all the planet of the apes, a...","Many years after the reign of Caesar, a young ...",https://m.media-amazon.com/images/M/MV5BZGI4NT...
2,Unfrosted,5.5,42.0,2023.0,Pretty much the worst criticism you can lay on...,"In 1963 Michigan, business rivals Kellogg's an...",https://m.media-amazon.com/images/M/MV5BZjIyOT...
3,The Fall Guy,7.3,73.0,2023.0,Just got out of the Austin premier at SXSW and...,A down-and-out stuntman must find the missing ...,https://m.media-amazon.com/images/M/MV5BMjA5Zj...
4,Challengers,7.7,82.0,2023.0,This is a tough one. I liked the concept and t...,"Tashi, a former tennis prodigy turned coach, t...",https://m.media-amazon.com/images/M/MV5BNTk1MT...

In [40]:
new_df['tags']=new_df['tags'].apply(lambda x: x.lower())
new_df['Review_tags']=new_df['Review_tags'].apply(lambda x: x.lower())

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\2915036491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x: x.lower())
C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\2915036491.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Review_tags']=new_df['Review_tags'].apply(lambda x: x.lower())

In [42]:
new_df.head()

,Title,Rating,Metascore,Year,Review_tags,tags,Poster
0,The Idea of You,6.4,67.0,2023.0,"this film, as well as the reaction to it, is a...","solène, a 40-year-old single mom, begins an un...",https://m.media-amazon.com/images/M/MV5BYWRkZj...
1,Kingdom of the Planet of the Apes,7.3,66.0,2023.0,"i'm a big fan of all the planet of the apes, a...","many years after the reign of caesar, a young ...",https://m.media-amazon.com/images/M/MV5BZGI4NT...
2,Unfrosted,5.5,42.0,2023.0,pretty much the worst criticism you can lay on...,"in 1963 michigan, business rivals kellogg's an...",https://m.media-amazon.com/images/M/MV5BZjIyOT...
3,The Fall Guy,7.3,73.0,2023.0,just got out of the austin premier at sxsw and...,a down-and-out stuntman must find the missing ...,https://m.media-amazon.com/images/M/MV5BMjA5Zj...
4,Challengers,7.7,82.0,2023.0,this is a tough one. i liked the concept and t...,"tashi, a former tennis prodigy turned coach, t...",https://m.media-amazon.com/images/M/MV5BNTk1MT...

NATURAL LANGUAGE PROCESSING

In [43]:
import nltk

In [44]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [45]:
def stem (text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [46]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\PERCY JACKSON\AppData\Local\Temp\ipykernel_5104\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cs=CountVectorizer(max_features=5000, stop_words='english')

In [48]:
vectors=cs.fit_transform(new_df['tags']).toarray()

In [49]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity = cosine_similarity(vectors)

In [53]:
similarity[0]

array([1.        , 0.09553946, 0.03934447, ..., 0.25854384, 0.0404226 ,
       0.12126781])

In [54]:
def recommend(movie):
    movie_index= new_df[new_df['Title']== movie].index[0]
    distances= similarity[movie_index]
    movie_list= sorted(list(enumerate(distances)), reverse= True,key=lambda x:x[1]) [1:6]   

    for i in movie_list:
        print(new_df.iloc[i[0]].Title)

In [55]:
recommend('Unfrosted')

Rustin
The Nutty Professor
A Futile and Stupid Gesture
Adolf Hitler: The Greatest Story Never Told
Operation Finale

In [56]:
new_df.iloc[29].Title

'Bullet Train'

In [57]:
import pickle

In [62]:
pickle.dump(new_df, open('movies.pkl','wb'))

In [61]:
pickle.dump (similarity, open('similarity.pkl','wb'))